# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
.env # Added to ignore .env files

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
sdist/
*.egg-info/
.eggs/

# Editors
.vscode/
.idea/

# OS
.DS_Store
.Trashes

# Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
.venv/
venv/
env/

# Logs
*.log
